<section class="w-full">
  <div class="flex justify-between">
    <h2 class="text-3xl">Modelos de Produtos</h2>
    <h2 class="text-mg"><%= link_to 'Cadastrar Novo', new_product_model_path %></h2>
  </div>

  <hr class="h-px my-8 bg-gray-500 border-0">
  <div class="flex flex-row flex-wrap">
    <% @product_models.each do |product| %>
      <div class="w-4/12 bg-white border border-gray-200 rounded-lg shadow">
        <div class="p-5">
            <h3 class="mb-2 text-xl font-bold"><%= link_to product.name, product %></h3>
            <p class="mb-3 font-normal text-gray-700">
              SKU: <%= product.sku %>
            </p>
            <p class="mb-3 font-normal text-gray-700">
              Fornecedor: <%= product.supplier.brand_name %>
            </p>
        </div>
      </div>
    <% end %>
  </div>
  <% if @product_models.empty? %>
    <p class="mb-3 font-normal text-gray-700">
      Nenhum modelo de produto cadastrado.
    </p>
  <% end %>

  <div class="flex justify-end p-6">
    <div class="flex">
      <%= link_to 'Voltar', root_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
    </div>
  </div>
</section>
