<h4 class="text-xl font-bold"><%= Order.model_name.human %> Código: <%= link_to order.code, order %> </h4>
<hr class="h-px my-8 bg-gray-500 border-0">
<p class="mb-3 font-normal text-gray-700">
  <%= Order.human_attribute_name(:warehouse_id) %>: <%= order.warehouse.full_description %>
</p>
<p class="mb-3 font-normal text-gray-700">
  <%= Order.human_attribute_name(:supplier_id) %>: <%= order.supplier.corporate_name %>
</p>
<p class="mb-3 font-normal text-gray-700">
  <%= Order.human_attribute_name(:user_id) %>: <%= order.user.description %>
</p>
<p class="mb-3 font-normal text-gray-700">
  <%= Order.human_attribute_name(:estimated_delivery_date) %>: <%= I18n.localize order.estimated_delivery_date %>
</p>
<p class="mb-3 font-normal text-gray-700">
  <%= Order.human_attribute_name(:status) %>: <%= t(order.status) %>
</p>
